<!doctype html>
<html lang="en-US">
  <head>
  
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>

  </head>
  <prologue>
    <%= t.include("partials/_nav.html") %>

    <section class="content text-block">
        <h1-prologue>PRIVATELY HELD</h1-prologue>
        <div class="content line">
          <img src="assets/line.jpg"></div>
        <h2-prologue>A Seattle Times Investigation</h2-prologue>

        <div class="constrained-prologue">
            <img src="assets/sealion.jpg">
              <i class="fas fa-chevron-down" style="font-size:24px;"></i>

              <div class="content">
                <h3-prologue>Not enough beds</h3-prologue>
                  <p-prologue> For years, our state’s mental healthcare crisis has revolved around this single fact.</p>
              </div>
        </div>
        
    </section>
    <section>
    <%= t.include("_scrollContent.html") %>
    </section>

    <section class="text-block other-features" id="other-features">

        <div class="sources">Sources and Seattle Times analysis/reporting (in order of appearance): Washington State Institute for Public Policy, Substance Abuse and Mental Health Services Administration, Center for Behavioral Health Statistics and Quality, National Survey on Drug Use and Health; Mental Health America; Washington State Health Care Authority; Department of Health; The Centers for Medicare and Medicaid Services; Department of Health</div>
    </section>
  </prologue>    

    <script src="app.js" async></script>
    <script>
      var data = <%= JSON.stringify(json.slides.sheet) %>;
    </script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
